

.todo-item{

  width:100%;
  margin-bottom:0.3em;
  border-radius: 5px;
  display:flex;
  align-items: center;

  transition: 0.2s;
}

.todo-item:hover{
  box-shadow: 0px 2px 5px 0.5px #0001;
  cursor: pointer;
}

.name{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 0.99;
  padding:0.5em;
}
input {
  border: none;
  margin:auto;
  width: 1.5em;
  height: 1.5em;
}

