@import url('https://fonts.googleapis.com/css?family=DM+Sans');


#banner{
  margin:2em;
}

main{
  background: linear-gradient(157deg, rgb(255, 255, 255) 0%, rgba(0,177,255,1) 40%, rgb(0, 255, 157) 100%);
  margin:0;
  padding:0;
  height:100vh
}
